[submodule "submodules/bamheart"]
	path = submodules/bamheart
	url = https://github.com/BryanApellanes/bamheart.git
[submodule "submodules/bamio"]
	path = submodules/bamio
	url = https://github.com/BryanApellanes/bamio.git
[submodule "submodules/bamapi"]
	path = submodules/bamapi
	url = https://github.com/BryanApellanes/bamapi.git
[submodule "submodules/bamski"]
	path = submodules/bamski
	url = https://github.com/BryanApellanes/bamski.git
[submodule "submodules/bamux"]
	path = submodules/bamux
	url = https://github.com/BryanApellanes/bamux.git
[submodule "submodules/bamcli"]
	path = submodules/bamcli
	url = https://github.com/BryanApellanes/bamcli.git
