[submodule "submodules/bamheart"]
	path = submodules/bamheart
	url = https://github.com/BryanApellanes/bamheart.git
[submodule "submodules/bamio"]
	path = submodules/bamio
	url = https://github.com/BryanApellanes/bamio.git
[submodule "submodules/bamapi"]
	path = submodules/bamapi
	url = https://github.com/BryanApellanes/bamapi.git
[submodule "submodules/bamux"]
	path = submodules/bamux
	url = https://github.com/BryanApellanes/bamux.git
[submodule "submodules/bamcli"]
	path = submodules/bamcli
	url = https://github.com/BryanApellanes/bamcli.git
[submodule "submodules/bam.core"]
	path = submodules/bam.core
	url = https://github.com/BryanApellanes/Bam.Core.git
[submodule "submodules/bam.net.data.dynamic"]
	path = submodules/bam.net.data.dynamic
	url = https://github.com/BryanApellanes/Bam.Net.Data.Dynamic.git
[submodule "submodules/bam.net.data.graphql"]
	path = submodules/bam.net.data.graphql
	url = https://github.com/BryanApellanes/Bam.Net.Data.GraphQL.git
[submodule "submodules/bamd"]
	path = submodules/bamd
	url = https://github.com/BryanApellanes/bamd.git
